{erl_opts, [ error
           , warn_unused_vars
           , warn_shadow_vars
           , warn_unused_import
           , warn_obsolete_guard
           , debug_info
           , {d, 'APPLICATION', avlizer}
           , {d, 'NOTEST'}]}.

{deps, [{erlavro, "2.6.3"}]}.

{profiles, [ {test, [{deps, [meck]}]}
           ]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               deprecated_functions]}.
